<h1>Update</h1>
<form [formGroup]="playerForm" (ngSubmit) =update()>
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name" ></td>
    </tr>
    <tr>
      <td>Champ</td>
      <td><input type="text" formControlName="champ"></td>
    </tr>
    <tr>
      <td>Kda</td>
      <td><input type="text" formControlName="kda"></td>
    </tr>
    <tr>
      <td>Des</td>
      <td><textarea type="text" style="width: 250px;height: 200px" formControlName="des"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Update</button></td>
    </tr>
  </table>
</form>
